{% extends 'index.html'%}
{% block title %}О нас{% endblock %}

{% block plants %}
<p>Наш питомник растений предлагает широкий ассортимент саженцев и растений для вашего сада или участка.
     Мы гордимся тем, что можем предложить вам только лучшие сорта и виды растений, которые будут радовать вас своим внешним видом и 
     урожаем.Мы заботимся о каждом растении, начиная с момента его посадки и заканчивая уходом за ним. Наши специалисты следят за тем,
      чтобы каждое растение получало необходимое количество света, воды и питательных веществ. Мы используем только качественные удобрения
       и средства защиты растений, чтобы обеспечить им здоровый рост и развитие.В нашем питомнике вы найдёте саженцы плодовых деревьев,
        ягодных кустарников, декоративных растений, цветов и хвойных деревьев. Мы предлагаем как крупномеры, так и молодые саженцы, 
        которые подойдут для любого участка.Мы понимаем, что выбор растений — это ответственный шаг, поэтому наши консультанты всегда 
        готовы помочь вам выбрать подходящие сорта и виды растений. Они расскажут вам об особенностях ухода за каждым растением, о сроках
         посадки и сбора урожая.Мы ценим каждого клиента и стремимся предоставить вам лучший сервис. Мы гарантируем высокое качество наших
          растений и быструю доставку.Если вы ищете надёжного поставщика саженцев и растений, то наш питомник — это то, что вам нужно.
           Мы готовы предложить вам широкий выбор растений по доступным ценам.</p>
{% endblock %}