<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_7.css">
    <title>{% block title %}Главная{% endblock %}</title>
    
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/static/logo_index.png" alt="Логотип"></a>
        {% include 'nav.html' %}
       

    </header>

    <main>
        <div class="block_1">
    <h3>Будь в курсе:</h3>
    {% block content %}<a href="/register"><button class="btn" type="button">Зарегистрироваться</button></a>
    <a href="/login"><button class="btn" type="button">Вход</button></a>
    <a href="https:\\vk.com"><button class="btn">Vk</button></a>
    <a href="https:\\ok.ru"><button class="btn">Ok</button></a>

    
    {% endblock %}
    </div>
    <div class="block_2">
        
        {% block plants %}
        <h1>Растения питомника</h1>
        <div class="picture">
        
        <a href="#honeysuckle"><img src="/static/honeysuckle.jpg" alt="Жимолость"><p>Жимолость</p></a>
        <a href="#raspberry"><img src="/static/raspberry.jpg" alt="Малина"><p>Малина</p></a>
        <a href="#blackberry"><img src="/static/blackberry.jpg" alt="Ежевика"><p>Ежевика</p></a>
        <a href="#gooseberry"><img src="/static/gooseberry.jpg" alt="Крыжовник"><p>Крыжовник</p></a>
        <a href="#blueberry"><img src="/static/blueberry.jpg" alt="Голубика"><p>Голубика</p></a>
        <a href="#shadberry"><img src="/static/shadberry.jpg" alt="Ирга"><p>Ирга</p></a>
        <a href="#dogberry"><img src="/static/dogberry.jpg" alt="Кизил"><p>Кизил</p></a>
        </div>




       <div class="text-block">
        <a id="honeysuckle"></a>
        <p><a href="#honeysuckle"><b>Жимолость</b></a> - неприхотливое растение, которое может расти на бедных почвах и
             почти не подвержено болезням и вредителям. Она зимостойкая и может быть использована как декоративное 
             растение благодаря своим крупным белым или светло-розовым цветам весной. Ягоды жимолости содержат 
             множество витаминов и микроэлементов, а также обладают кисло-сладким вкусом с легкой терпкостью.<br>
            <b>Посадка жимолости.</b>
            Выберите двухлетние саженцы с 2-3 разветвлениями длиной 30-40 см и гибкими стеблями.
            Корневая система должна быть развитой и без повреждений.
            Сажайте жимолость в хорошо освещенных местах, защищенных от сильных весенних ветров.
            Почва должна быть суглинистой или супесчаной, но если она кислая, добавьте мел, доломитовую муку, древесную золу или известковые материалы для снижения кислотности.
            Лучшее время для посадки - конец сентября - середина октября.
            Выкопайте лунки размером 40x40x40 см, расстояние между ними - 1-2 метра.
            Смешайте верхний слой почвы с перегноем (1 ведро), древесной золой (300 г), двойным суперфосфатом (500 г) и сульфатом натрия (30 г).
            Расположите саженец на холмике из подготовленной смеси, расправьте корни и засыпьте рыхлым грунтом.
            Заглубите корневую шейку на 3-5 см, утрамбуйте грунт и обильно полейте (1 ведро воды).
            Мульчируйте приствольный круг для сохранения влаги.<br>
            <b>Уход за жимолостью.</b>
            Умеренный полив, особенно в засушливые периоды.
            Регулярное удаление сорняков вокруг кустов.
            В первые 3 года весной высоко окучивайте кусты.
            После сбора урожая проводите обрезку стеблей для устранения загущенности кустов.
            С третьего года начинайте подкармливать культуру весной аммиачной селитрой (3 ч.л. на 1 м²) и осенью органикой (навоз с водой 1:4) и смесью из древесной золы (100 г), компоста (5 кг) и двойного суперфосфата (2 ст.л.).
            При появлении грибковых инфекций обрабатывайте фунгицидными средствами.
            Размножать жимолость можно семенами, делением куста, отводками и черенками.</p>
            <a id="raspberry"></a>
            <p><a href="#raspberry"><b>Малина</b></a> обыкновенная имеет многолетнее корневище, из которого развиваются двухгодичные надземные стебли
             высотой 1,5—2,5 метра. На второй год побеги деревенеют и приобретают коричневый цвет, сразу после 
             плодоношения засыхают, но из того же корня на следующий год вырастают новые стебли. Листья у малины 
             овальные, очерёдные, черешковые, сложные, с 3—7 яйцевидными листочками. Цветки белые, около 1 сантиметра 
             в поперечнике, собраны в небольшие кистевидные соцветия. Плоды малины представляют собой небольшие 
             волосистые костянки, сросшиеся на цветоложе в сложный плод. Они, как правило, красного цвета, 
             но встречаются сорта жёлтого и даже чёрного цвета.<br>
            <b>Посадка малины.</b> Малина предпочитает солнечные участки с небольшим уклоном для стока
             лишней влаги. Избегайте мест, где ранее росли паслёновые или клубника. Малина
              предпочитает суглинистые почвы с нейтральной кислотностью. Если почва кислая, используйте известковые добавки (жжёная известь, пушонка, доломит).
Выбирайте крепкие саженцы с развитым корневищем и стеблем не менее 20 см в длину. Посадку саженцев производят на расстоянии 50 см друг от друга и 1,5 м между рядами. Ленточный метод 
подразумевает посадку в траншеи на расстоянии 40-75 см друг от друга. Обильно полейте каждый куст (5 л воды), замульчируйте почву вокруг саженцев для сохранения влаги.<br>
<b>Уход за малиной.</b> Полив: В зависимости от погодных условий, малина нуждается в регулярном поливе, особенно в период плодоношения.
Мульчирование: Мульчирование помогает сохранить влагу и препятствует росту сорняков.
Подкормка: Весной и осенью вносите органические и минеральные удобрения.
Обрезка: Проводите обрезку малины осенью, удаляя старые и больные побеги. Весной обрезайте верхушки побегов для стимуляции роста боковых ветвей.
Защита от вредителей и болезней: Используйте профилактические меры и при необходимости применяйте инсектициды и фунгициды.
Подготовка к зиме: В регионах с холодными зимами малину следует укрывать.</p>
<a id="blackberry"></a>
<p><a href="#blackberry"><b>Ежевика</b></a> - это родственный малине кустарник, известный своими кисловато-сладкими ягодами темного цвета
     с сизым оттенком. Ежевика обладает лечебными свойствами благодаря содержанию биофлавоноидов, которые действуют 
     как антиоксиданты, и может использоваться при простуде, болезнях кишечника и пищеварительной системы. Листья 
     ежевики заваривают как травяной чай. Ягоды ежевики используются для приготовления десертов, соусов, джемов, 
     киселей, компотов, мармелада, сиропа, сока, цукатов.<br>
    <b>Посадка ежевики.</b> Ежевика предпочитает солнечные места с защитой от сильных ветров. Избегайте низин и участков с близким залеганием грунтовых вод.
    Подготовка почвы: Ежевика предпочитает плодородные, хорошо дренированные почвы с нейтральной кислотностью. Если почва кислая, используйте известковые добавки.
    Выбор саженцев: Выбирайте здоровые саженцы с развитой корневой системой и несколькими здоровыми побегами.
    Посадка: Кустовой метод предполагает посадку саженцев на расстоянии 1,5-2 м друг от друга. Ленточный метод подразумевает посадку в траншеи на расстоянии 2-3 м друг от друга.
    Уход после посадки: Обильно полейте каждый куст (5-10 л воды), замульчируйте почву вокруг саженцев для сохранения влаги.<br>
    <b>Уход за ежевикой.</b>
    Полив: В зависимости от погодных условий, ежевика нуждается в регулярном поливе, особенно в период плодоношения.
    Мульчирование: Мульчирование помогает сохранить влагу и препятствует росту сорняков.
    Подкормка: Весной и осенью вносите органические и минеральные удобрения.
    Обрезка: Проводите обрезку ежевики осенью, удаляя старые и больные побеги. Весной обрезайте верхушки побегов для стимуляции роста боковых ветвей.
    Формирование куста: Для удобства ухода и сбора урожая формируйте куст в виде веера или плетения.
    Защита от вредителей и болезней: Используйте профилактические меры и при необходимости применяйте инсектициды и фунгициды.
    Подготовка к зиме: В регионах с холодными зимами ежевику следует укрывать.</p>
<a id="gooseberry"></a>
<p><a href="#gooseberry"><b>Крыжовник</b></a> – это вид растений рода Смородина (Ribes) семейства Крыжовниковые 
    (Grossulariaceae). Это небольшой кустарник высотой до 1–1,2 метра с тёмно-серой или тёмно-коричневой отслаивающейся
     корой. Ветви несут трёхраздельные, реже простые колючки листового происхождения. Молодые побеги цилиндрические,
      сероватые, усажены тонкими игольчатыми шипами и мелкими чёрными точками. Листья черешчатые, округлые или сердцевидно-яйцевидные,
       длиной до 6 см, короткоопушённые и тусклые. Цветки обоеполые, зеленоватые или красноватые, одиночные или по два–три
        в пазухах листьев. Плоды – ягоды, овальные или почти шаровидные, длиной до 12 мм (бывают и до 30–40 мм), голые
         или грубощетинистые, с хорошо заметными жилками. Зелёные, жёлтые или пурпурные. Созревают в июне – августе. <br>
<b>Посадка крыжовника.</b> Крыжовник предпочитает солнечные места с защитой от сильных ветров. Избегайте низин и участков с близким залеганием грунтовых вод.
Подготовка почвы: Крыжовник предпочитает плодородные, хорошо дренированные почвы с нейтральной кислотностью. Если почва кислая, используйте известковые добавки.
Выбор саженцев: Выбирайте здоровые саженцы с развитой корневой системой и несколькими здоровыми побегами.
Посадка: Кустовой метод предполагает посадку саженцев на расстоянии 1,5-2 м друг от друга. Ленточный метод подразумевает посадку в траншеи на расстоянии 2-3 м друг от друга.
Обильно полейте каждый куст (5-10 л воды), замульчируйте почву вокруг саженцев для сохранения влаги.<br>
<b>Уход за крыжовником.</b>
Полив: В зависимости от погодных условий, крыжовник нуждается в регулярном поливе, особенно в период плодоношения.
Мульчирование: Мульчирование помогает сохранить влагу и препятствует росту сорняков.
Подкормка: Весной и осенью вносите органические и минеральные удобрения.
Обрезка: Проводите обрезку крыжовника осенью, удаляя старые и больные побеги. Весной обрезайте верхушки побегов для стимуляции роста боковых ветвей.
Формирование куста: Для удобства ухода и сбора урожая формируйте куст в виде веера или плетения.
Защита от вредителей и болезней: Используйте профилактические меры и при необходимости применяйте инсектициды и фунгициды.
Подготовка к зиме: В регионах с холодными зимами крыжовник следует укрывать.</p>

<a id="blueberry"></a>
<p><a href="#blueberry"><b>Голубика</b></a> - это листопадный кустарник из семейства Вересковые, достигающий высоты 
    до 1,5 метров. Отличается от черники более светлыми стеблями и формой цветоложа на ягоде. Листья голубики
     обратнояйцевидные или продолговатые, плотные, тонкие, длиной до 3 см. Осенью листья краснеют и опадают. 
     Цветы мелкие, пятизубчатые, поникающие, венчик кувшинчатый белый или розоватый. Плоды - синие округлые ягоды 
     с сизым налётом, сочные и съедобные. Спелая мякоть фиолетовая, ягоды длиной до 1,2 см. Голубика очень
      морозостойка и может жить до ста лет.<br>
<b>Посадка.</b> Высаживать голубику можно как весной, так и осенью. В Средней полосе России высадку проводят с апреля,
 в холодных регионах – с начала мая, а в южных – с середины марта. Голубика не любит болотистые и низинные места. 
 Ей нужно солнечное место, удалённое от построек и деревьев. Почва должна быть кислой (pH 3,5–5). Если почва щелочная
  или нейтральная, её нужно подкислить. Для этого можно использовать серу, лимонную кислоту или яблочный уксус. Перед посадкой саженец нужно обильно пролить водой, чтобы извлечь корневую систему без повреждений.
 Выкопать посадочную яму с запасом по объёму. Уложить слой дренажа из битого кирпича, шифера или гальки. Насыпать
  горкой почвосмесь. Поместить на холмик саженец, слегка расправив корни. Заглубить корневую шейку на 5 см. 
  Постепенно засыпать корни ягодного кустарника, слегка уплотнить грунт. Обильно полить саженец, замульчировать его
   хвоей или опилом слоем в 10 см. Укоротить верхушки побегов для активного образования боковых ветвей.<br>
<b>Уход за голубикой.</b> Нельзя допускать как переувлажнения, так и пересыхания грунта. В дождливую погоду
 дополнительных поливов не требуется. Рыхление проводят крайне осторожно, поскольку корни располагаются близко к
  поверхности. Чтобы предотвратить иссушение поверхностных всасывающих корешков, лучше мульчировать почву под 
  кустарником. В первый год саженцу голубики не понадобятся дополнительные подкормки, можно лишь 1–2 раза за сезон
   полить растение жидким минеральным составом. Применение органических удобрений (навоза, компоста, золы) для 
   голубики противопоказано. Чтобы поддерживать необходимую кислотность почвы, культуру поливают специальным раствором. На 5 л воды добавляют 50 мл яблочного уксуса или 1,5 ч. л. лимонной кислоты. При выращивании голубики старше 2 лет достаточно 2 подкормок – весенней, содержащей азот, и осенней, с преобладанием фосфора и калия.
Обрезка необходима для правильного формирования кустарника. Удаляют старые, повреждённые или слабые побеги.
 Правильно формируют крону, срезают загущающие ветви, чтобы растение было равномерно освещено со всех сторон. 
 Это обеспечит продуваемость куста, снизит риск распространения по посадкам заболеваний и вредителей. Каждые 8–10 лет 
 куст кардинально омолаживают. Для этого оставляют 4–6 молодых побегов, а остальные срезают у самой земли. Срезанные
  побеги можно использовать для размножения растений с сохранением сорта</p>
  
<a id="shadberry"></a>
<p><a href="#shadberry"><b>Ирга</b></a> обыкновенная – это кустарник из семейства розоцветных, плодоносящий в середине лета. Растение отличается высокой
 зимостойкостью и неприхотливостью, легко приживается на окультуренных участках. <br> <b>Посадка.</b> Ирга может быть посажена как весной, так и осенью. Предпочитает 
  солнечные или слегка затененные места.Почва: Хорошо растет на нейтральных, рыхлых и питательных почвах, но может 
  адаптироваться и к обычным садовым почвам. Важно избегать мест с застоем влаги. Хорошо уживается с черной 
  и красной смородиной, малиной и крыжовником. Не рекомендуется сажать рядом с крупными деревьями, такими как береза
   или маньчжурский орех.<br><b>Уход.</b> В засушливую погоду требует полива. Весной вносят нитроаммофоску, 
   летом – сульфат калия и суперфосфат, осенью – золу. Проводят санитарную обрезку весной, удаляя сухие 
    поврежденные ветви. После посадки почву мульчируют перегноем или сухой почвой.</p>
<a id="dogberry"></a>
<p><a href="#dogberry"><b>Кизил</b></a> – это высокий кустарник или небольшое дерево, известное своими кислыми и мясистыми плодами, которые 
    созревают в конце августа. Плоды кизила могут быть разных цветов и форм, и они идеально подходят для варенья и 
    компотов.<br><b>Посадка.</b> Лучше всего сажать кизил осенью, за 3-4 недели до наступления заморозков. Предпочитает теплые, солнечные места, защищенные от сильных ветров.Почва: Любит слегка кислую, нейтральную или
      слабощелочную почву, рыхлую и хорошо дренированную. За месяц до посадки почву перекапывают на 
     глубину до 0,6 м и улучшают, добавляя необходимые компоненты (песок для тяжелых почв, известь для кислых почв).
     Между саженцами оставляют расстояние 2-3 м.<br><b>Уход.</b> Регулярный полив особенно 
     важен в первые годы после посадки. Весной вносят азотные удобрения, а осенью – калийные и фосфорные.
     Осенью проводят обрезку, формируя крону и удаляя старые и больные ветки. Молодые 
     растения на зиму укрывают лапником или сухими листьями. Размножают кизил семенами, черенками,
      отводками и прививкой.</p>
{% endblock %}
       </div>
    </div>
    </main>
    <footer>
        <div class="footer-logo">
        <a href="/"><img class="logo" src="/static/logo_index.png" alt="Логотип"></a>
        </div>
        <div class="info">
            <p>Информация носит исключительно справочный характер</p>
        </div>
        <div class="contacts">
            <a id="contacts"></a>
            <a href="#contacts"><h4>Свяжитесь с нами:</h4></a>
            
            <a href="tel:{{get_phone_number}}">+7(999)888-77-66</a>
        </div>
        <a></a>

    </footer>
</body>
</html>
