{% extends 'index.html' %}
{% block title %}Как добраться{% endblock %}
{% block plants %}
<p>В нашем питомнике мы уделяем особое внимание процессу доставки растений, чтобы обеспечить их сохранность и здоровье. Мы понимаем,
     насколько важно для вас получить заказанные растения в идеальном состоянии, поэтому мы используем специальные упаковочные материалы
      и методы упаковки, которые защищают растения во время транспортировки.Мы осуществляем доставку по всей стране, используя проверенные
       транспортные компании, которые гарантируют бережное обращение с вашим заказом. Вы можете быть уверены, что ваши растения будут 
       доставлены в оговоренные сроки и в отличном состоянии.Стоимость доставки рассчитывается индивидуально в зависимости от веса и 
       объёма заказа, а также от региона доставки. Вы можете уточнить стоимость доставки при оформлении заказа или связаться с нашими 
       менеджерами по телефону или электронной почте.Мы стремимся сделать процесс покупки растений максимально удобным и приятным для вас,
        поэтому доставка — это ещё один способ показать нашу заботу о клиентах.</p>
{% endblock %}